@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 350;
}

body {
    height: 100vh;
    background: url("./water.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.app{
  text-align:center;
  margin:auto;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 50px;
    position: relative;
    transform: scale(1);
    left: 200px;
}

h1 {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 70px;
}

.text {
    font-size: 1.3rem;
    margin-top: 10px; /* Added margin to create space */
}

.circle {
    height: 100%;
    width: 100%;
    background-color: #010f1c;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
}

.outer-circle {
    height: 320px;
    width: 320px;
    background: conic-gradient(
        #ae72f3 0%,
        #582ecd 40%,
        #fff 40%,
        #ccbefa 60%,
        #206aeb 60%,
        #12bef3 100%
    );
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    z-index: -2;
}

.pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.pointer-container {
    width: 20px;
    height: 190px;
    position: absolute;
    top: -40px;
    left: 140px;
    transform-origin: bottom center;
    animation: rotate 18000ms linear forwards infinite;
}

.container.grow {
    animation: grow 5s linear forwards; /* Changed duration to 5s */
}

.container.shrink {
    animation: shrink 6s linear forwards; /* Changed duration to 6s */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


.explain{
  margin-top:70px;
}